@import '../../../../../assets/styles/guidestyles.scss';

form {
    display: flex;
    flex-wrap: wrap;
    width: $size*60;
    max-width: 90%;
    padding: $size*2;
    margin: auto;
    mat-form-field {
        width: 100%;
    }
    textarea {
        min-height: $size*10;
    }
}