@import '../../../../../assets/styles/guidestyles.scss';
.active {
    opacity: .5;
    cursor: default;
  }
ul {
    padding: $size*4 $size;
    margin: 0;
    li {
        list-style: none;
        padding: $size*3 $size;
        border-bottom: 1px solid white;
        a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            font-size: $size*2;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            mat-icon {
                margin-right: $size;
            }
        }
    }
}
button {
    background: transparent;
    border: 0 solid transparent;
    color: white;
}

mat-drawer {
background-color: #0277BD;
}
mat-drawer-container {
    height: 100%;
    width: auto;
    position: fixed;
    background-color: #0277BD;
}
mat-drawer-content {
    z-index: 2 !important;
}

