@import '../../../../../assets/styles/guidestyles.scss';

ul {
    padding: $size*4 $size*2;
    margin: 0;
    li {
        list-style: none;
        margin-bottom: $size*2;
        a {
            text-decoration: none;
            color: white;
        }
    }
}
button {
    background: transparent;
    border: 0 solid transparent;
    color: white;
}

mat-drawer {
background-color: #0277BD;
}
mat-drawer-container {
    height: 100%;
    width: auto;
    position: fixed;
    background-color: #0277BD;
}
mat-drawer-content {
    z-index: 2 !important;
}

