<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td mat-cell *matCellDef="let element">{{ element.tags | cutTags }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="light">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="light"
      [ngClass]="{
        'green': element.description.length >= 100,
        'yellow' : element.description.length > 50 && element.description.length < 100,
        'red' : element.description.length < 50
      }"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" color="Primary"></tr>
    <tr (click)="goToDetail(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
  #paginator
  [pageSizeOptions]="[10, 20, 40]"
  showFirstLastButtons
></mat-paginator>